{
  "root": true,
  "extends": "starry",
  "rules": {
    "starry/space-in-parens": ["error", "never"],
    "starry/computed-property-spacing": ["error", "never"],
    "object-curly-spacing": [2, "never"],
    "array-bracket-spacing": ["error", "never"]
  }
}
