#experience-section {
  .experience-description {
    padding: 0 100px;
    font-size: 1.2em;
    @include MQ(L) {
      padding: 0;
    }
    a {
      display: inline-block;
      position: relative;
      font-weight: 500;
      transition: all 0.3s ease;
      &:after {
        content: '';
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 2px;
        border-width: 0 0 .5px;
        border-style: solid;
        border-color: $white;
        transition: all 0.3s ease;
      }
    }
  }
  .experience-wrapper {
    padding: 30px;
    @include MQ(ML) {
      padding-left: 0;
    }
    @include MQ(S600) {
      padding: 30px 0;
    }
    #timeline {
      position: relative;
      padding: 2em 0;
      margin: 0 auto;
      width: 100%;
      max-width: 1170px;
      margin: 0 auto;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: calc(50% - 1px);
        height: 100%;
        width: 2px;
        background: $blue;
        @include MQ(ML) {
          left: 20px;
          margin-left: 0px;
        }
        @include MQ(SM) {
          left: 10px;
        }
      }
      &:after {
        content: '';
        display: table;
        clear: both;
      }
      .timeline-block {
        position: relative;
        transition: all 0.3s ease;
        margin: 1em 0;
        &:after {
          content: "";
          display: table;
          clear: both;
        }
        &:first-child {
          margin-top: 0;
        }
        &:last-child {
          margin-bottom: 0;
        }
        &:nth-child(odd) {
          @include MQ(L) {
            margin-top: 0;
            margin-bottom: 2em;
          }
          .timeline-content {
            float: left;
            @include MQ(L) {
              right: 10px;
            }
            @include MQ(ML) {
              right: auto;
            }
            &:before {
              top: 24px;
              left: 100%;
              border-color: transparent;
              border-left-color: $dark-grey;
              @include MQ(ML) {
                top: 16px;
                left: auto;
                border-color: transparent;
                border-right-color: $dark-grey;
              }
            }
            .date {
              left: auto;
              text-align: right;
              right: -33%;
            }
          }
        }
        &:nth-child(even) {
          .date {
            text-align: right;
            left: auto;
            right: 55%;
            @include MQ(ML) {
              text-align: left;
              font-size: 14px;
              color: $light-grey;
              position: relative;
              top: -40px;
              left: 95px;
              right: auto;
            }
            @include MQ(SM) {
              left: 66px;
            }
          }
        }
        .timeline-img {
          position: absolute;
          width: 50px;
          height: 50px;
          top: 15px;
          left: 50%;
          margin-left: -25px;
          border-radius: 50%;
          background: #212121;
          transform: translateZ(0);
          backface-visibility: hidden;
          transition: all 0.3s ease;
          @include MQ(ML) {
            top: 5px;
            left: 20px;
          }
          @include MQ(SM) {
            width: 40px;
            height: 40px;
            top: 10px;
            left: 15px;
          }
          .sprite {
            display: block;
            width: 24px;
            height: 24px;
            position: relative;
            left: 50%;
            top: 50%;
            margin-left: -12px;
            margin-top: -12px;
            background-repeat: no-repeat;
            background-size: 100%;
            @include MQ(SM) {
              width: 20px;
              height: 20px;
              margin-left: -10px;
              margin-top: -10px;
            }
            &.university {
              background-image: url('../img/icons/graduate-cap.png');
            }
            &.research {
              background-image: url('../img/icons/search.png');
            }
            &.industry {
              background-image: url('../img/icons/briefcase.png');
            }
            &.academic {
              background-image: url('../img/icons/notebook.png');
            }
          }
        }
        .timeline-content {
          float: right;
          position: relative;
          background: $dark-grey;
          border-radius: 3px;
          margin-left: 0;
          padding: 1.5em;
          width: 45%;
          opacity: 0.85;
          transition: all 0.3s ease;
          @include MQ(L) {
            left: 0px;
            padding-bottom: 2.5em;
          }
          @include MQ(ML) {
            margin-left: 70px;
            right: auto;
            width: auto;
          }
          @include MQ(SM) {
            margin-left: 50px;
            padding: 1.5em 1em 2.5em;
          }
          &:hover, &:focus {
            opacity: 1;
            + .timeline-img {
              background: $blue;
            }
          }
          &:before {
            content: '';
            position: absolute;
            top: 24px;
            right: 100%;
            height: 0;
            width: 0;
            border: 15px solid transparent;
            border-color: transparent;
            border-right-color: $dark-grey;
            @include MQ(ML) {
              top: 16px;
              right: 100%;
              left: auto;
              border: 15px solid transparent;
              border-right: 15px solid $dark-grey;
            }
          }
          &:after {
            content: "";
            display: table;
            clear: both;
          }
          .position {
            color: $white;
            margin: 5px 0 10px;
            font-size: 18px;
            display: inline-block;
            text-transform: uppercase;
            font-family: $Gotham, $sans-serif-stack;
          }
          .company {
            margin: 0 0 10px 0;
            font-size: 15px;
            font-weight: 500;
            a {
              color: $blue;
              display: inline;
              transition: all 0.3s ease;
              &:hover, &:focus {
                color: #00dded;
              }
            }
          }
          .job-desc {
            margin: 1em 0;
            font-size: 1em;
            line-height: 1.5;
            @include MQ(SM) {
              font-size: 1em;
              line-height: 1.5;
            }
          }
        }
        .date {
          font-size: 1em;
          font-weight: 500;
          display: inline-block;
          color: $white;
          font-family: $Gotham, $sans-serif-stack;
          text-transform: uppercase;
          position: absolute;
          width: 100%;
          left: 55%;
          top: 30px;
          @include MQ(ML) {
            font-size: 14px;
            color: $light-grey;
            position: absolute;
            top: auto;
            bottom: 20px;
            left: 95px;
          }
          @include MQ(SM) {
            left: 66px;
          }
        }
      }
    }
  }
  .down-arrow {
    display: block;
    margin: 0 auto;
    border-color: transparent;
    border-top-color: $blue;
    border-style: solid;
    border-width: 15px 7px 0;
    width: 0;
    height: 0;
    position: relative;
    line-height: 0;
    @include MQ(ML) {
      margin-left: 13.5px;
    }
    @include MQ(SM) {
      margin-left: 3.5px;
    }
  }
}
