// Colors
$night: #131417;
$black: #36363C;
$dark-grey: #444452;
$grey: #777777;
$blue: #007BFF;
$slate: #afafbf;
$off-white: #e7e7e7;
$white: #fff;
$green: #BADA55;
$purple: #7D0CE8;
$red: #FF0000;
$orange: #E8850C;
$yellow: #FFF10D;

// Fonts
$Apercu: 'Apercu';
$sans-serif-stack: Source Sans Pro, Helvetica, Arial, sans-serif;

// Media queries
$fifteen-inch: 1440px;
$thirteen-inch: 1280px;
$desktop-width: 1024px;
$little-desktop: 850px;
$tablet-width: 768px;
$weird-not-tablet-width: 630px;
$phablet-width: 550px;
$mobile-width: 480px;
$small-mobile-width: 360px;
$tiny-mobile-width: 330px;

@mixin thirteen {
  @media screen and (max-width: #{$thirteen-inch}) {
    @content;
  }
}
@mixin desktop {
  @media screen and (max-width: #{$desktop-width}) {
    @content;
  }
}
@mixin little-desktop {
  @media screen and (max-width: #{$little-desktop}) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: #{$tablet-width}) {
    @content;
  }
}
@mixin weird-medium {
  @media screen and (max-width: #{$weird-not-tablet-width}) {
    @content;
  }
}
@mixin phablet {
  @media screen and (max-width: #{$phablet-width}) {
    @content;
  }
}
@mixin mobile {
  @media screen and (max-width: #{$mobile-width}) {
    @content;
  }
}
@mixin small-mobile {
  @media screen and (max-width: #{$small-mobile-width}) {
    @content;
  }
}
@mixin tiny-mobile {
  @media screen and (max-width: #{$tiny-mobile-width}) {
    @content;
  }
}
