#services-section {
  a {
    display: inline-block;
    position: relative;
    &:after {
      content: '';
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 2px;
      border-width: 0 0 .5px;
      border-style: solid;
      border-color: #cbcbcb;
    }
  }
  .services-wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    @include MQ(ML) {
      padding: 0;
    }
  }
  .service-row {
    width: 100%;
    height: 50%;
    @include MQ(S660) {
      height: auto;
    }
    &:nth-of-type(odd) {
      border-bottom: 1px solid $whiteRGBA;
      @include MQ(S660) {
        border: none;
      }
    }
    &:nth-of-type(even) {
      .service-column {
        padding-top: 40px;
        @include MQ(S660) {
          padding-top: 20px;
        }
      }
    }
    .service-column {
      display: inline-block;
      vertical-align: top;
      width: 49%;
      height: 100%;
      padding: 20px;
      overflow: hidden;
      white-space: nowrap;
      @include MQ(S660) {
        display: block;
        width: 100%;
        border: none;
      }
      @include MQ(SM) {
        padding: 20px 0;
      }
      &:nth-of-type(even) {
        border-left: 1px solid $whiteRGBA;
        @include MQ(S660) {
          border: none;
        }
      }
      .service-img {
        width: 40px;
        margin-right: 15px;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        top: -5px;
      }
      .sprite {
        width: 40px;
        height: 40px;
        margin-right: 15px;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        top: -3px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100%;
        @include MQ(S400) {
          width: 35px;
          height: 35px;
        }
        &.webdev {
          background-image: url('../img/icons/html.png');
        }
        &.ui {
          background-image: url('../img/icons/pencil.png');
          background-size: 90%;
        }
        &.xd {
          background-image: url('../img/icons/ux-design.png');
        }
        &.wit {
          background-image: url('../img/icons/internet.png');
          background-size: 90%;
        }
      }
      .service-heading {
        font-family: $Gotham, $sans-serif-stack;
        text-transform: uppercase;
        margin: 0 0 30px;
        font-size: 20px;
        display: inline-block;
        @include MQ(L) {
          font-size: 2vw;
        }
        @include MQ(S660) {
          font-size: 4vw;
        }
        @include MQ(S440) {
          font-size: 16px;
        }
      }
      .service-text {
        font-size: 1.1em;
        margin-bottom: 20px;
        white-space: initial;
      }
    }
  }
}
