<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I currently work as a Senior Geospatial Data Engineer at <a class="underline-link" href="https://www.tier.app/en/" target="_blank">TIER Mobility</a>. At TIER, I help make geospatial data and value-added analysis from our fleet of 300k+ micromobility vehicles available to internal teams and cities across the globe.
    </p>
    <p>
      Prior to joining TIER, I was part of the data & analytics team at <a class="underline-link" href="https://www.slalom.com/" target="_blank">Slalom Consulting</a>. At Slalom, I was a data engineering consultant that worked on digital product teams at a variety of companies.
    </p>
    <p>
      I have a bachelor's degree from the business school at the <a class="underline-link" href="https://carlsonschool.umn.edu/" target="_blank">University of Minnesota</a>, where I also completed a minor in computer science. This combination of technical understanding and business savvy allows me to clearly explain and teach detailed technical concepts to non-technical audiences. For my <a class="underline-link" href="https://github.com/carstonhernke/dockless-scooter-analysis" target="_blank">honors thesis</a> I analyzed the usage and equity of dockless scooters in the Minneapolis area using geospatial techniques.
    </p>
    <p>
      When I'm not in front of a computer screen, I enjoy running (check me out on <a class="underline-link" href="https://www.strava.com/athletes/17954486" target="_blank">Strava</a>), open-water swimming, and cross-country skiing. I love learning new things and am currently working towards fluency in Norwegian - <i>jeg har en lang vei å gå...</i>
    </p>

  </div>
</section>
