<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm a recent graduate from
      <a class="underline-link" href="https://www.thinkful.com/" target="_blank">Thinkful's</a> data analytics program where I developed the foundational skills of data science and programming. I graduated from 
      <a class="underline-link" href="https://www.humboldt.edu/" target="_blank">Humboldt State University</a> with a degree in English and a focus on research writing and publishing as an editor of the 
      <a class="underline-link" href="https://www.toyonliterarymagazine.org/" target="_blank">Toyon Literary Magazine</a>. As a member of the workforce I rose to a position of leadership in the hospitality industry at the 
      <a class="underline-link" href="https://driskillhotel.com/" target="_blank">Driskill Hotel</a>, where I wrote and designed the menu to keep the 
      <a class="underline-link" href="https://www.10best.com/awards/travel/best-hotel-bar-2019/" target="_blank">Driskill Bar</a> up to the highest standards and leading industry trends.
    </p>

    <p>
      Success in hospitality has motivated me to apply my talents to a new industry. My enthusiasm for research and design motivated me to develop marketable skills in Data Analytics. 
      I enjoy the process of absorbing and analyzing complex concepts and information to ucover insights that promote efficiency and growth. I am excited to embark on a new career path where
      I can help organizations make the most out of their data. I am passionate about my education and professional development, and look forward to growing more as a data scientist and programmer.
    </p>

    <p>
      <strong>In my free time</strong>, I'm making music, sifting through MLB stats, or solving the latest bouldering problem at the rock gym.
    </p>
    
    <p>
      I'd like to give credit and thanks to
      <a class="underline-link" href="https://bchiang7.github.io/" target="_blank">Brittany Chiang</a> for designing and sharing this fantastic portfolio site!
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
