<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a third year Computer Science student at <a class="underline-link" href="https://www.unimib.it/" target="_blank">Unimib</a>.
      I am really passionate about the world of coding, AI and everything related to computer science and tech.

    <p>

      I'm also a really <strong>sporty</strong> guy, I'm going to the gym between 4 and 5 times a week.
      What's sport taught me is <strong>discipline</strong> and <strong>determination</strong>, that allows me to getting done faster the "boring stuff" and have time to dedicate the to things that I've love to do!
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
