<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    </div>
    <div class="MND Data Management">
      <figure class="MND Data Management">
        <a href="https://github.com/AfredTX/MND_Data_Management" target="_blank">
          <div class="phone">
            <iframe src="https://github.com/AfredTX/MND_Data_Management/blob/main/Screenshot%20(7).png?raw=true" width="320" height="240"></iframe>
          </div>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/AfredTX/MND_Data_Management" target="_blank">MND Data Management</a>
        </div>
        <p></p>
      </figcaption>
    </div>
    <div class="March Madness Bracket Assistant">
      <figure class="March Madness Bracket Assistant">
        <a href="https://github.com/AfredTX/MarchMadnessBracketAssistant" target="_blank">
          <div class="phone">
            <iframe src="https://drive.google.com/file/d/1EjbCTCMEJjwPgFut0U6wGvq7u4P_yCcZ/preview" width="640" height="480"></iframe>
          </div>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/AfredTX/MarchMadnessBracketAssistant" target="_blank">March Madness Bracket Assistant</a>
        </div>
        <p></p>
      </figcaption>
    

    <div class="Web Scraper">
      <figure class="Web Scraper Project">
        <a href="https://drive.google.com/open?id=1Rf1T21ADqDknmvi5MT4aLhj4_1L6Y_rx" target="_blank">
          <div class="phone">
            <iframe src="https://drive.google.com/file/d/1toqXKzdhGRqYW2wJFa8wIsn18PnkUF_h/preview" width="320" height="240"></iframe>
          </div>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/AfredTX/Business-Inteliigence-Report">Business Intelligence Report</a>
        </div>
        <p></p>
      </figcaption>
    </div>
</section>
