<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="March Madness Bracket Assistant">
      <figure class="March Madness Bracket Assistant">
        <a href="https://drive.google.com/open?id=1jcd6ZJhO4neX2Iau7p7u-rB78J7n-Hdn" target="_blank">
          <div class="phone">
            <iframe src="https://drive.google.com/file/d/1EjbCTCMEJjwPgFut0U6wGvq7u4P_yCcZ/preview" width="640" height="480"></iframe>
          </div>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://drive.google.com/open?id=1jcd6ZJhO4neX2Iau7p7u-rB78J7n-Hdn" target="_blank">March Madness Bracket Assistant</a>
        </div>
        <p></p>
      </figcaption>
    </div>
    <div class="fuel economy analysis">
      <figure class="fuel economy analysis">
        <a href="https://drive.google.com/open?id=1cBzzhQZ4JutI2H_4WoS2I_QvbYAqaf8q" target="_blank">
          <div class="phone">
            <iframe src="https://drive.google.com/file/d/10cYHTgBPNwqpxesS823G86IijtIB55c8/preview" width="320" height="240"></iframe>
          </div>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://drive.google.com/open?id=1LlfpZpY28-9g_pYOjAtAy9X8XrGTNJLC" target="_blank">Fuel Economy Analysis</a>
        </div>
        <p></p>
      </figcaption>
    </div>

    <div class="Web Scraper">
      <figure class="Web Scraper Project">
        <a href="https://drive.google.com/open?id=1Rf1T21ADqDknmvi5MT4aLhj4_1L6Y_rx" target="_blank">
          <div class="phone">
            <iframe src="https://drive.google.com/file/d/1toqXKzdhGRqYW2wJFa8wIsn18PnkUF_h/preview" width="320" height="240"></iframe>
          </div>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://drive.google.com/open?id=181iWW5EOQwDfBefvAdAx6nAFlA8pAT2H">Business Intelligence Report</a>
        </div>
        <p></p>
      </figcaption>
    </div>
</section>
