<header class="intro">
  <h1 class="intro__hello">Hello!
    <span class="emoji wave-hand animated"></span>
  </h1>

  <h2 class="intro__tagline">I'm
    <span class="name">Fred Randall</span>, a data analyst with a passion for research &amp; design.
  </h2>

  <h3 class="intro__contact">
    <span>Get in touch </span>
    <span class="emoji pointer"></span>
    <span>
      <a href="mailto:fredrandall333@gmail.com" target="_blank" class="highlight-link">fredrandall333@gmail.com</a>
    </span>
  </h3>
</header>
