@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100,300italic,400italic,700,900,700italic,900italic|Roboto+Slab:100,300,400,100,300,700|Roboto+Condensed:400,300,300italic|Roboto:400,100,300,500,700|Raleway:400,700,500,600,300,200|Lusitana|Ovo|Nixie+One|Libre+Baskerville:400,700,400italic|Yeseva+One|Merriweather:300,400,900,700|Merriweather+Sans:400,300|Playfair+Display:400,900,900italic,400italic,700,700italic|Playfair+Display+SC:400,700,900|Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic|Droid+Serif:400,700|Open+Sans:400,800,300,600,700|Sanchez|Rufina:400,700|Sintony|Oxygen:400,300,700|Noto+Serif:400,700|Noto+Sans:400,700|Vidaloka|Lora:400,700|Quicksand:400,300,700|Abril+Fatface|Josefin+Sans:400,100,300,600,700|Quattrocento:400,700|Quattrocento+Sans:400,700,400italic,700italic|Suranna|Martel:400,800,700,900,600|Martel+Sans:400,600,700,300,200);
@font-face {
    font-family: 'argon';
    src: url(fonts/argon-webfont.eot);
    src: url(fonts/argon-webfont.eot?#iefix) format('embedded-opentype'), url(fonts/argon-webfont.woff2) format('woff2'), url(fonts/argon-webfont.woff) format('woff'), url(fonts/argon-webfont.ttf) format('truetype'), url(fonts/argon-webfont.svg#argon_personalregular) format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proximanova';
    src: url(fonts/proximasansregular_regular-webfont.eot);
    src: url(fonts/proximasansregular_regular-webfont.eot?#iefix) format('embedded-opentype'), url(fonts/proximasansregular_regular-webfont.woff2) format('woff2'), url(fonts/proximasansregular_regular-webfont.woff) format('woff'), url(fonts/proximasansregular_regular-webfont.ttf) format('truetype'), url(fonts/proximasansregular_regular-webfont.svg#proximasansregularregular) format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'harriet_displaybold';
    src: url(fonts/harriet_display_bold-webfont.eot);
    src: url(fonts/harriet_display_bold-webfont.eot?#iefix) format('embedded-opentype'), url(fonts/harriet_display_bold-webfont.woff2) format('woff2'), url(fonts/harriet_display_bold-webfont.woff) format('woff'), url(fonts/harriet_display_bold-webfont.ttf) format('truetype'), url(fonts/harriet_display_bold-webfont.svg#harriet_displaybold) format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'alright_sanslight';
    src: url(fonts/alrightsans-light-v3-webfont.eot);
    src: url(fonts/alrightsans-light-v3-webfont.eot?#iefix) format('embedded-opentype'), url(fonts/alrightsans-light-v3-webfont.woff2) format('woff2'), url(fonts/alrightsans-light-v3-webfont.woff) format('woff'), url(fonts/alrightsans-light-v3-webfont.ttf) format('truetype'), url(fonts/alrightsans-light-v3-webfont.svg#alright_sanslight) format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'salomeregular';
    src: url(fonts/salome-webfont-webfont.eot);
    src: url(fonts/salome-webfont-webfont.eot?#iefix) format('embedded-opentype'), url(fonts/salome-webfont-webfont.woff2) format('woff2'), url(fonts/salome-webfont-webfont.woff) format('woff'), url(fonts/salome-webfont-webfont.ttf) format('truetype'), url(fonts/salome-webfont-webfont.svg#salomeregular) format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'butlerbold';
    src: url(fonts/butler_bold-webfont.eot);
    src: url(fonts/butler_bold-webfont.eot?#iefix) format('embedded-opentype'), url(fonts/butler_bold-webfont.woff2) format('woff2'), url(fonts/butler_bold-webfont.woff) format('woff'), url(fonts/butler_bold-webfont.ttf) format('truetype'), url(fonts/butler_bold-webfont.svg#butlerbold) format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AvenirLTStd-Book';
    src: url(fonts/AvenirLTStd-Book.eot?#iefix) format('embedded-opentype'), url(fonts/AvenirLTStd-Book.otf) format('opentype'), url(fonts/AvenirLTStd-Book.woff) format('woff'), url(fonts/AvenirLTStd-Book.ttf) format('truetype'), url(fonts/AvenirLTStd-Book.svg#AvenirLTStd-Book) format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'moonlight';
    src: url(fonts/moon_light-webfont.eot);
    src: url(fonts/moon_light-webfont.eot?#iefix) format('embedded-opentype'), url(fonts/moon_light-webfont.woff2) format('woff2'), url(fonts/moon_light-webfont.woff) format('woff'), url(fonts/moon_light-webfont.ttf) format('truetype'), url(fonts/moon_light-webfont.svg#moonlight) format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'unnabold';
    src: url(fonts/unna-bold-webfont.eot);
    src: url(fonts/unna-bold-webfont.eot?#iefix) format('embedded-opentype'), url(fonts/unna-bold-webfont.woff2) format('woff2'), url(fonts/unna-bold-webfont.woff) format('woff'), url(fonts/unna-bold-webfont.ttf) format('truetype'), url(fonts/unna-bold-webfont.svg#unnabold) format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'azo_sanslight';
    src: url('fonts/rui_abreu_-_azosans-light-webfont.eot');
    src: url('fonts/rui_abreu_-_azosans-light-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/rui_abreu_-_azosans-light-webfont.woff2') format('woff2'), url('fonts/rui_abreu_-_azosans-light-webfont.woff') format('woff'), url('fonts/rui_abreu_-_azosans-light-webfont.ttf') format('truetype'), url('fonts/rui_abreu_-_azosans-light-webfont.svg#azo_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Ideal Sans Book';
    src: url(fonts/IdealSans-Book.eot);
    src: url(fonts/IdealSans-Book.eot?#iefix) format('embedded-opentype'), url(fonts/IdealSans-Book.woff2) format('woff2'), url(fonts/IdealSans-Book.woff) format('woff'), url(fonts/IdealSans-Book.ttf) format('truetype'), url(fonts/IdealSans-Book.svg#IdealSans-Book) format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'aleoregular';
    src: url(fonts/aleo-regular-webfont-webfont.eot);
    src: url(fonts/aleo-regular-webfont-webfont.eot?#iefix) format('embedded-opentype'), url(fonts/aleo-regular-webfont-webfont.woff2) format('woff2'), url(fonts/aleo-regular-webfont-webfont.woff) format('woff'), url(fonts/aleo-regular-webfont-webfont.ttf) format('truetype'), url(fonts/aleo-regular-webfont-webfont.svg#aleoregular) format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'quartobold';
    src: url(fonts/quarto-bold-webfont.eot);
    src: url(fonts/quarto-bold-webfont.eot?#iefix) format('embedded-opentype'), url(fonts/quarto-bold-webfont.woff2) format('woff2'), url(fonts/quarto-bold-webfont.woff) format('woff'), url(fonts/quarto-bold-webfont.ttf) format('truetype'), url(fonts/quarto-bold-webfont.svg#quartobold) format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'freightsansmedium';
    src: url(fonts/freight_sans_medium-webfont.eot);
    src: url(fonts/freight_sans_medium-webfont.eot?#iefix) format('embedded-opentype'), url(fonts/freight_sans_medium-webfont.woff2) format('woff2'), url(fonts/freight_sans_medium-webfont.woff) format('woff'), url(fonts/freight_sans_medium-webfont.ttf) format('truetype'), url(fonts/freight_sans_medium-webfont.svg#freightregular) format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'freighttextbook';
    src: url(fonts/freight_text_book-webfont.eot);
    src: url(fonts/freight_text_book-webfont.eot?#iefix) format('embedded-opentype'), url(fonts/freight_text_book-webfont.woff2) format('woff2'), url(fonts/freight_text_book-webfont.woff) format('woff'), url(fonts/freight_text_book-webfont.ttf) format('truetype'), url(fonts/freight_text_book-webfont.svg#freightregular) format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'freightbigboldregular';
    src: url(fonts/freightbigbold_regular-webfont.eot);
    src: url(fonts/freightbigbold_regular-webfont.eot?#iefix) format('embedded-opentype'), url(fonts/freightbigbold_regular-webfont.woff2) format('woff2'), url(fonts/freightbigbold_regular-webfont.woff) format('woff'), url(fonts/freightbigbold_regular-webfont.ttf) format('truetype'), url(fonts/freightbigbold_regular-webfont.svg#freightbigboldregular) format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'freightsanslight';
    src: url(fonts/freight_sans_light-webfont.eot);
    src: url(fonts/freight_sans_light-webfont.eot?#iefix) format('embedded-opentype'), url(fonts/freight_sans_light-webfont.woff2) format('woff2'), url(fonts/freight_sans_light-webfont.woff) format('woff'), url(fonts/freight_sans_light-webfont.ttf) format('truetype'), url(fonts/freight_sans_light-webfont.svg#freightregular) format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Kepler Std';
    src: url(fonts/KeplerStd-BoldDisp.eot);
    src: url(fonts/KeplerStd-BoldDisp.eot?#iefix) format('embedded-opentype'),
    url(fonts/KeplerStd-BoldDisp.woff2) format('woff2'),
    url(fonts/KeplerStd-BoldDisp.woff) format('woff'),
    url(fonts/KeplerStd-BoldDisp.ttf) format('truetype'),
    url(fonts/KeplerStd-BoldDisp.svg#KeplerStd-BoldDisp) format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
	font-family: 'Whitney';
	src: url('fonts/Whitney-Light.eot');
	src: url('fonts/Whitney-Light.eot?#iefix') format('embedded-opentype'),
		url('fonts/Whitney-Light.woff2') format('woff2'),
		url('fonts/Whitney-Light.woff') format('woff'),
		url('fonts/Whitney-Light.ttf') format('truetype'),
		url('fonts/Whitney-Light.svg#Whitney-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Utopia Std';
	src: url('fonts/UtopiaStd-SemiboldDisp.eot');
	src: url('fonts/UtopiaStd-SemiboldDisp.eot?#iefix') format('embedded-opentype'),
		url('fonts/UtopiaStd-SemiboldDisp.woff2') format('woff2'),
		url('fonts/UtopiaStd-SemiboldDisp.woff') format('woff'),
		url('fonts/UtopiaStd-SemiboldDisp.ttf') format('truetype'),
		url('fonts/UtopiaStd-SemiboldDisp.svg#UtopiaStd-SemiboldDisp') format('svg');
	font-weight: 600;
	font-style: normal;
}
