@import url("fonts.css");
html,
body {
  font-family: Helvetica, sans-serif;
  color: #111;
  padding: 0;
  margin: 0; }

h1,
h2,
h3,
h4,
h5 {
  margin: 0; }

a {
  color: #111;
  text-decoration: none;
  font-weight: 400; }

.white {
  color: #fff;
  font-weight: 300; }

.black-overlay {
  background: linear-gradient(rgba(20, 20, 20, 0.5), rgba(20, 20, 20, 0.5)); }

.site-wrapper {
  width: 100%;
  margin: 0;
  padding: 0; }
  .site-wrapper .intro {
    background: #070707; }
    .site-wrapper .intro .intro-wrapper {
      position: relative;
      width: 900px;
      margin: 0 auto; }
      @media (max-width: 900px) {
        .site-wrapper .intro .intro-wrapper {
          width: 90%; } }
      .site-wrapper .intro .intro-wrapper .site-title {
        margin-top: 70px;
        text-align: center;
        font-family: 'Playfair Display', serif;
        color: #fff; }
        .site-wrapper .intro .intro-wrapper .site-title .top {
          font-size: 160px; }
          @media (max-width: 900px) {
            .site-wrapper .intro .intro-wrapper .site-title .top {
              font-size: 120px; } }
          @media (max-width: 768px) {
            .site-wrapper .intro .intro-wrapper .site-title .top {
              font-size: 80px; } }
          @media (max-width: 480px) {
            .site-wrapper .intro .intro-wrapper .site-title .top {
              font-size: 60px; } }
          @media (max-width: 360px) {
            .site-wrapper .intro .intro-wrapper .site-title .top {
              font-size: 50px; } }
        .site-wrapper .intro .intro-wrapper .site-title .bottom {
          font-size: 48px;
          font-style: italic; }
          @media (max-width: 900px) {
            .site-wrapper .intro .intro-wrapper .site-title .bottom {
              font-size: 36px; } }
          @media (max-width: 768px) {
            .site-wrapper .intro .intro-wrapper .site-title .bottom {
              font-size: 24px; } }
      .site-wrapper .intro .intro-wrapper .colophon {
        width: 100%;
        margin: 50px auto;
        font-size: 14px;
        color: #bbb; }
        .site-wrapper .intro .intro-wrapper .colophon a {
          text-decoration: underline;
          color: #bbb; }
        .site-wrapper .intro .intro-wrapper .colophon p {
          text-align: left;
          font-family: 'Source Sans Pro', sans-serif;
          font-weight: 100;
          letter-spacing: 0.3px;
          margin: 5px auto;
          line-height: 1.5; }
        .site-wrapper .intro .intro-wrapper .colophon .column1 {
          display: inline-block;
          width: 66%;
          margin: 10px 10px 10px 25px;
          vertical-align: top; }
          @media (max-width: 768px) {
            .site-wrapper .intro .intro-wrapper .colophon .column1 {
              width: 90%;
              display: block;
              margin: 25px auto; } }
        .site-wrapper .intro .intro-wrapper .colophon .column2 {
          display: inline-block;
          width: 25%;
          margin: 10px;
          vertical-align: top; }
          @media (max-width: 768px) {
            .site-wrapper .intro .intro-wrapper .colophon .column2 {
              width: 90%;
              display: block;
              margin: 25px auto; } }
  .site-wrapper .container-1 {
    background: #ECD078; }
  .site-wrapper .container-2 {
    background: #D95B43; }
  .site-wrapper .container-3 {
    background: #C02942; }
  .site-wrapper .container-4 {
    background: #542437; }
  .site-wrapper .container-5 {
    background: #53777A; }
  .site-wrapper .photo-1 {
    background: url(../images/photo-1.png) no-repeat center center fixed;
    background-size: cover; }
  .site-wrapper .photo-2 {
    background: url(../images/photo-2.png) no-repeat center center fixed;
    background-size: cover; }
  .site-wrapper .photo-3 {
    background: url(../images/photo-3.png) no-repeat center center fixed;
    background-size: cover; }
  .site-wrapper .photo-4 {
    background: url(../images/photo-4.png) no-repeat center center fixed;
    background-size: cover; }
  .site-wrapper .photo-5 {
    background: url(../images/photo-5.png) no-repeat center center fixed;
    background-size: cover; }
  .site-wrapper .photo-6 {
    background: url(../images/photo-6.png) no-repeat center center fixed;
    background-size: cover; }
  .site-wrapper .photo-7 {
    background: url(../images/photo-7.png) no-repeat center center fixed;
    background-size: cover; }
  .site-wrapper .photo-8 {
    background: url(../images/photo-8.png) no-repeat center center fixed;
    background-size: cover; }
  .site-wrapper .photo-9 {
    background: url(../images/photo-9.png) no-repeat center center fixed;
    background-size: cover; }
  .site-wrapper .photo-10 {
    background: url(../images/photo-10.png) no-repeat center center fixed;
    background-size: cover; }
  .site-wrapper .photo-11 {
    background: url(../images/photo-11.png) no-repeat center center fixed;
    background-size: cover; }
  .site-wrapper .photo-12 {
    background: url(../images/photo-12.png) no-repeat center center fixed;
    background-size: cover; }
  .site-wrapper .photo-13 {
    background: url(../images/photo-13.png) no-repeat center center fixed;
    background-size: cover; }
  .site-wrapper .photo-14 {
    background: url(../images/photo-14.png) no-repeat center center fixed;
    background-size: cover; }
  .site-wrapper .photo-15 {
    background: url(../images/photo-15.png) no-repeat center center fixed;
    background-size: cover; }
  .site-wrapper .photo-16 {
    background: url(../images/photo-16.png) no-repeat center center fixed;
    background-size: cover; }
  .site-wrapper .photo-17 {
    background: url(../images/photo-17.png) no-repeat center center fixed;
    background-size: cover; }
  .site-wrapper .photo-18 {
    background: url(../images/photo-18.png) no-repeat center center fixed;
    background-size: cover; }
  .site-wrapper .photo-19 {
    background: url(../images/photo-19.png) no-repeat center center fixed;
    background-size: cover; }
  .site-wrapper .photo-20 {
    background: url(../images/photo-20.png) no-repeat center center fixed;
    background-size: cover; }
  .site-wrapper .footer {
    width: 100%;
    height: 20px;
    background: #070707;
    color: #bbb;
    margin: 0;
    padding: 15px 0; }
    .site-wrapper .footer .copyright {
      margin: 0 auto;
      text-align: center; }
      .site-wrapper .footer .copyright p {
        font-family: 'alright_sanslight';
        margin: 0; }
        .site-wrapper .footer .copyright p a {
          color: #bbb; }
  .site-wrapper .container {
    width: 100%;
    height: 700px;
    padding: 50px 0; }
    .site-wrapper .container .font-pair {
      text-transform: uppercase;
      font-size: 14px;
      margin-top: 50px;
      margin-left: 100px;
      font-family: 'Roboto Condensed', sans-serif; }
      @media (max-width: 768px) {
        .site-wrapper .container .font-pair {
          margin-left: 10%; } }
      .site-wrapper .container .font-pair p {
        margin: 0; }
        .site-wrapper .container .font-pair p .white {
          color: #fff;
          font-weight: 300; }
      .site-wrapper .container .font-pair a .white {
        color: #fff;
        font-weight: 300; }
    .site-wrapper .container .text-wrapper {
      margin: 100px auto;
      width: 600px; }
      @media (max-width: 900px) {
        .site-wrapper .container .text-wrapper {
          width: 80%; } }
    @media (max-width: 900px) {
      .site-wrapper .container #latoRobotoSlab {
        width: 80%; } }
    .site-wrapper .container #latoRobotoSlab h2 {
      font-family: 'Lato', sans-serif;
      text-transform: uppercase;
      font-size: 36px;
      font-weight: 700; }
    .site-wrapper .container #latoRobotoSlab p {
      margin-top: 30px;
      font-family: 'Roboto Slab', serif;
      font-weight: 300;
      line-height: 1.5;
      font-size: 16px; }
      .site-wrapper .container #latoRobotoSlab p a {
        font-weight: 300; }
    .site-wrapper .container #ralewayLusitana {
      color: #fff;
      text-align: center; }
      @media (max-width: 900px) {
        .site-wrapper .container #ralewayLusitana {
          width: 80%;
          margin: 70px auto; } }
      .site-wrapper .container #ralewayLusitana a {
        color: #fff; }
      .site-wrapper .container #ralewayLusitana h2 {
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        font-size: 60px;
        font-weight: 700; }
        @media (max-width: 600px) {
          .site-wrapper .container #ralewayLusitana h2 {
            font-size: 40px; } }
      .site-wrapper .container #ralewayLusitana p {
        margin-top: 40px;
        font-family: 'Lusitana', serif;
        font-size: 20px;
        font-weight: 300;
        line-height: 1.5; }
        @media (max-width: 600px) {
          .site-wrapper .container #ralewayLusitana p {
            font-size: 16px; } }
    @media (max-width: 900px) {
      .site-wrapper .container #nixieLibre {
        width: 80%;
        margin: 70px auto; } }
    .site-wrapper .container #nixieLibre h2 {
      font-family: 'Nixie One', cursive;
      font-size: 60px;
      font-weight: 700; }
      @media (max-width: 600px) {
        .site-wrapper .container #nixieLibre h2 {
          font-size: 50px; } }
    .site-wrapper .container #nixieLibre p {
      margin-top: 40px;
      margin-left: 60px;
      font-family: 'Libre Baskerville', serif;
      font-size: 14px;
      line-height: 1.5; }
      @media (max-width: 600px) {
        .site-wrapper .container #nixieLibre p {
          margin-left: 0; } }
    .site-wrapper .container #playfairSourceSans {
      text-align: center;
      width: 400px; }
      @media (max-width: 900px) {
        .site-wrapper .container #playfairSourceSans {
          width: 80%;
          margin: 70px auto; } }
      .site-wrapper .container #playfairSourceSans h2 {
        font-family: 'Playfair Display', serif;
        font-size: 60px;
        font-weight: 700; }
        @media (max-width: 600px) {
          .site-wrapper .container #playfairSourceSans h2 {
            font-size: 44px; } }
      .site-wrapper .container #playfairSourceSans p {
        margin-top: 30px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 16px;
        line-height: 1.5; }
    .site-wrapper .container #droidSerifLato {
      color: #fff; }
      @media (max-width: 900px) {
        .site-wrapper .container #droidSerifLato {
          width: 80%;
          margin: 70px auto; } }
      .site-wrapper .container #droidSerifLato a {
        color: #fff; }
      .site-wrapper .container #droidSerifLato h2 {
        font-family: 'Droid Serif', serif;
        font-size: 60px;
        font-weight: 500; }
        @media (max-width: 600px) {
          .site-wrapper .container #droidSerifLato h2 {
            font-size: 50px; } }
      .site-wrapper .container #droidSerifLato p {
        margin-top: 30px;
        font-family: 'Lato', sans-serif;
        font-size: 20px;
        line-height: 1.5;
        font-weight: 200;
        letter-spacing: 0.5px; }
        @media (max-width: 600px) {
          .site-wrapper .container #droidSerifLato p {
            font-size: 15px; } }
    .site-wrapper .container #openSansSourceSans {
      text-align: center;
      width: 400px; }
      @media (max-width: 900px) {
        .site-wrapper .container #openSansSourceSans {
          width: 80%;
          margin: 70px auto; } }
      .site-wrapper .container #openSansSourceSans h2 {
        font-family: 'Open Sans', sans-serif;
        font-size: 36px;
        font-weight: 700;
        text-transform: uppercase; }
        .site-wrapper .container #openSansSourceSans h2 a {
          font-weight: 700; }
      .site-wrapper .container #openSansSourceSans p {
        margin-top: 30px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 400; }
    .site-wrapper .container #latoMerriweather {
      text-align: center;
      width: 500px;
      color: #fff; }
      @media (max-width: 900px) {
        .site-wrapper .container #latoMerriweather {
          width: 80%;
          margin: 70px auto; } }
      .site-wrapper .container #latoMerriweather a {
        color: #fff; }
      .site-wrapper .container #latoMerriweather h2 {
        font-family: 'Lato', sans-serif;
        font-size: 70px;
        font-weight: 200;
        text-transform: uppercase;
        letter-spacing: 2px; }
        .site-wrapper .container #latoMerriweather h2 a {
          font-weight: 200; }
      .site-wrapper .container #latoMerriweather p {
        margin-top: 50px;
        font-family: 'Merriweather', serif;
        font-size: 16px;
        line-height: 2;
        font-weight: 100;
        letter-spacing: 0.2px; }
        .site-wrapper .container #latoMerriweather p a {
          font-weight: 300; }
    .site-wrapper .container #rufinaSintony {
      margin: 100px 150px;
      width: 500px; }
      @media (max-width: 900px) {
        .site-wrapper .container #rufinaSintony {
          width: 80%;
          margin: 70px auto; } }
      .site-wrapper .container #rufinaSintony h2 {
        font-family: 'Rufina', serif;
        font-size: 70px;
        font-weight: 700; }
        @media (max-width: 600px) {
          .site-wrapper .container #rufinaSintony h2 {
            font-size: 45px; } }
      .site-wrapper .container #rufinaSintony p {
        margin-top: 30px;
        font-family: 'Sintony', sans-serif;
        font-size: 16px;
        line-height: 2;
        font-weight: 100; }
        @media (max-width: 600px) {
          .site-wrapper .container #rufinaSintony p {
            line-height: 1.5;
            font-size: 16px; } }
    .site-wrapper .container #robotoSlabRoboto {
      width: 800px;
      color: #fff; }
      @media (max-width: 900px) {
        .site-wrapper .container #robotoSlabRoboto {
          width: 80%;
          margin: 70px auto; } }
      .site-wrapper .container #robotoSlabRoboto a {
        color: #fff; }
      .site-wrapper .container #robotoSlabRoboto h2 {
        font-family: 'Roboto Slab', serif;
        font-size: 80px;
        font-weight: 100; }
        @media (max-width: 600px) {
          .site-wrapper .container #robotoSlabRoboto h2 {
            font-size: 50px; } }
        .site-wrapper .container #robotoSlabRoboto h2 a {
          font-weight: 100; }
      .site-wrapper .container #robotoSlabRoboto p {
        margin-top: 30px;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        line-height: 2;
        font-weight: 300;
        letter-spacing: 0.3px; }
        @media (max-width: 600px) {
          .site-wrapper .container #robotoSlabRoboto p {
            font-size: 15px;
            letter-spacing: 0.2px;
            line-height: 1.5; } }
        .site-wrapper .container #robotoSlabRoboto p a {
          font-weight: 300; }
    .site-wrapper .container #yesevaMerriweather {
      width: 500px;
      margin-top: 50px;
      margin-right: 100px;
      text-align: right; }
      @media (max-width: 900px) {
        .site-wrapper .container #yesevaMerriweather {
          width: 80%;
          margin: 70px auto; } }
      .site-wrapper .container #yesevaMerriweather h2 {
        font-family: 'Yeseva One', cursive;
        font-size: 65px;
        font-weight: 100; }
        @media (max-width: 600px) {
          .site-wrapper .container #yesevaMerriweather h2 {
            font-size: 50px; } }
      .site-wrapper .container #yesevaMerriweather h3 {
        margin-top: 10px;
        font-family: 'Merriweather', serif;
        font-size: 20px;
        font-weight: 100;
        font-style: italic; }
        @media (max-width: 600px) {
          .site-wrapper .container #yesevaMerriweather h3 {
            font-size: 14px; } }
      .site-wrapper .container #yesevaMerriweather p {
        margin-top: 30px;
        font-family: 'Merriweather Sans', sans-serif;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 300; }
    .site-wrapper .container #oxygenSourceSans {
      width: 800px; }
      @media (max-width: 900px) {
        .site-wrapper .container #oxygenSourceSans {
          width: 80%;
          margin: 70px auto; } }
      .site-wrapper .container #oxygenSourceSans h2 {
        font-family: 'Oxygen', sans-serif;
        font-size: 80px;
        font-weight: 100; }
        @media (max-width: 600px) {
          .site-wrapper .container #oxygenSourceSans h2 {
            font-size: 40px; } }
      .site-wrapper .container #oxygenSourceSans p {
        margin-top: 30px;
        margin-left: 70px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 20px;
        line-height: 1.5;
        font-weight: 300;
        letter-spacing: 0.3px; }
        @media (max-width: 600px) {
          .site-wrapper .container #oxygenSourceSans p {
            margin-left: 0;
            font-size: 16px;
            font-weight: 400; } }
        .site-wrapper .container #oxygenSourceSans p a {
          font-weight: 300; }
    .site-wrapper .container #vidalokaNotoSans {
      width: 850px;
      color: #fff; }
      @media (max-width: 900px) {
        .site-wrapper .container #vidalokaNotoSans {
          width: 80%;
          margin: 70px auto; } }
      .site-wrapper .container #vidalokaNotoSans a {
        color: #fff; }
      .site-wrapper .container #vidalokaNotoSans h2 {
        font-family: 'Vidaloka', serif;
        font-size: 80px;
        font-weight: 100; }
        @media (max-width: 600px) {
          .site-wrapper .container #vidalokaNotoSans h2 {
            font-size: 60px; } }
      .site-wrapper .container #vidalokaNotoSans p {
        font-family: 'Noto Sans', sans-serif;
        font-size: 20px;
        line-height: 1.5;
        font-weight: 300;
        letter-spacing: 0.3px; }
        @media (max-width: 600px) {
          .site-wrapper .container #vidalokaNotoSans p {
            font-size: 16px; } }
        .site-wrapper .container #vidalokaNotoSans p a {
          font-weight: 100; }
    .site-wrapper .container #abrilJosefin {
      text-align: center; }
      @media (max-width: 900px) {
        .site-wrapper .container #abrilJosefin {
          width: 80%;
          margin: 70px auto; } }
      .site-wrapper .container #abrilJosefin h2 {
        font-family: 'Abril Fatface', cursive;
        font-size: 80px;
        font-weight: 100; }
        @media (max-width: 600px) {
          .site-wrapper .container #abrilJosefin h2 {
            font-size: 40px; } }
      .site-wrapper .container #abrilJosefin p {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 20px;
        line-height: 1.5;
        font-weight: 400;
        letter-spacing: 0.3px; }
        @media (max-width: 600px) {
          .site-wrapper .container #abrilJosefin p {
            font-size: 16px; } }
    .site-wrapper .container #merriweatherSourceSans {
      width: 450px;
      margin-right: 100px;
      text-align: right; }
      @media (max-width: 900px) {
        .site-wrapper .container #merriweatherSourceSans {
          width: 80%;
          margin: 70px auto; } }
      .site-wrapper .container #merriweatherSourceSans h2 {
        font-family: 'Merriweather', serif;
        font-size: 40px;
        font-weight: 700;
        letter-spacing: 1px; }
        .site-wrapper .container #merriweatherSourceSans h2 a {
          font-weight: 700; }
      .site-wrapper .container #merriweatherSourceSans p {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 300;
        letter-spacing: 0.3px;
        margin-top: 30px; }
    .site-wrapper .container #robotoNotoSerif {
      width: 700px;
      text-align: left;
      color: #fff; }
      @media (max-width: 900px) {
        .site-wrapper .container #robotoNotoSerif {
          width: 80%;
          margin: 70px auto; } }
      .site-wrapper .container #robotoNotoSerif a {
        color: #fff; }
      .site-wrapper .container #robotoNotoSerif h2 {
        font-family: 'Roboto', sans-serif;
        font-size: 60px;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px; }
        @media (max-width: 600px) {
          .site-wrapper .container #robotoNotoSerif h2 {
            font-size: 36px; } }
      .site-wrapper .container #robotoNotoSerif p {
        font-family: 'Noto Serif', serif;
        font-size: 16px;
        line-height: 2;
        font-weight: 400;
        letter-spacing: 0.5px;
        margin-top: 30px; }
        @media (max-width: 600px) {
          .site-wrapper .container #robotoNotoSerif p {
            font-size: 14px;
            line-height: 1.5; } }
    .site-wrapper .container #quattrocentoSerifSans {
      width: 700px;
      text-align: center;
      color: #fff; }
      @media (max-width: 900px) {
        .site-wrapper .container #quattrocentoSerifSans {
          width: 80%;
          margin: 70px auto; } }
      .site-wrapper .container #quattrocentoSerifSans a {
        color: #fff; }
      .site-wrapper .container #quattrocentoSerifSans h2 {
        font-family: 'Quattrocento', serif;
        font-size: 60px;
        font-weight: 700;
        letter-spacing: 1px; }
      .site-wrapper .container #quattrocentoSerifSans p {
        font-family: 'Quattrocento Sans', sans-serif;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 300;
        letter-spacing: 0.3px;
        margin-top: 30px; }
    .site-wrapper .container #ralewayPlayfair {
      width: 800px;
      text-align: center;
      color: #fff;
      margin-top: 130px; }
      @media (max-width: 900px) {
        .site-wrapper .container #ralewayPlayfair {
          width: 80%;
          margin: 70px auto; } }
      .site-wrapper .container #ralewayPlayfair a {
        color: #fff; }
      .site-wrapper .container #ralewayPlayfair h2 {
        font-family: 'Raleway', sans-serif;
        font-size: 80px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px; }
      .site-wrapper .container #ralewayPlayfair p {
        font-family: 'Playfair Display', serif;
        font-size: 24px;
        line-height: 1.5;
        font-weight: 300;
        font-style: italic;
        letter-spacing: 1px;
        margin-top: 30px; }
    .site-wrapper .container #martelSerifSans {
      width: 800px;
      text-align: left;
      color: #fff; }
      @media (max-width: 900px) {
        .site-wrapper .container #martelSerifSans {
          width: 80%;
          margin: 70px auto; } }
      .site-wrapper .container #martelSerifSans a {
        color: #fff; }
      .site-wrapper .container #martelSerifSans h2 {
        font-family: 'Martel', serif;
        font-size: 50px;
        font-weight: 400;
        letter-spacing: 1px; }
      .site-wrapper .container #martelSerifSans p {
        font-family: 'Martel Sans', sans-serif;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 300;
        letter-spacing: 1px; }
    .site-wrapper .container #surannaOpenSans {
      text-align: left;
      color: #fff; }
      @media (max-width: 900px) {
        .site-wrapper .container #surannaOpenSans {
          width: 80%;
          margin: 70px auto; } }
      .site-wrapper .container #surannaOpenSans a {
        color: #fff; }
      .site-wrapper .container #surannaOpenSans h2 {
        font-family: 'Suranna', serif;
        font-size: 70px;
        letter-spacing: 3px; }
        @media (max-width: 600px) {
          .site-wrapper .container #surannaOpenSans h2 {
            line-height: 1; } }
      .site-wrapper .container #surannaOpenSans p {
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        line-height: 1.5;
        font-weight: 100;
        letter-spacing: 1px;
        margin-left: 50px; }
        @media (max-width: 600px) {
          .site-wrapper .container #surannaOpenSans p {
            margin-left: 0; } }
        .site-wrapper .container #surannaOpenSans p a {
          font-weight: 100; }
    .site-wrapper .container #ovoOxygen {
      width: 500px;
      text-align: right;
      margin-right: 100px;
      color: #fff; }
      @media (max-width: 900px) {
        .site-wrapper .container #ovoOxygen {
          width: 80%;
          margin: 70px auto; } }
      .site-wrapper .container #ovoOxygen a {
        color: #fff; }
      .site-wrapper .container #ovoOxygen h2 {
        font-family: 'Ovo', serif;
        font-size: 70px;
        text-transform: uppercase;
        letter-spacing: 3px; }
      .site-wrapper .container #ovoOxygen p {
        font-family: 'Oxygen', sans-serif;
        font-size: 14px;
        line-height: 1.5;
        font-weight: 100;
        letter-spacing: 1px; }
    .site-wrapper .container #argonQuattrocentoSans {
      text-align: left; }
      @media (max-width: 900px) {
        .site-wrapper .container #argonQuattrocentoSans {
          width: 80%;
          margin: 70px auto; } }
      .site-wrapper .container #argonQuattrocentoSans h2 {
        font-family: 'argon';
        font-size: 90px;
        text-transform: uppercase;
        letter-spacing: 3px; }
        @media (max-width: 600px) {
          .site-wrapper .container #argonQuattrocentoSans h2 {
            font-size: 70px;
            letter-spacing: 0; } }
      .site-wrapper .container #argonQuattrocentoSans p {
        font-family: 'Quattrocento Sans', sans-serif;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 100; }
        @media (max-width: 600px) {
          .site-wrapper .container #argonQuattrocentoSans p {
            font-size: 15px; } }
    .site-wrapper .container #sanchezProxima {
      width: 500px;
      text-align: right;
      margin-right: 100px; }
      @media (max-width: 900px) {
        .site-wrapper .container #sanchezProxima {
          width: 80%;
          margin: 70px auto; } }
      .site-wrapper .container #sanchezProxima h2 {
        font-family: 'Sanchez', serif;
        font-size: 50px;
        text-transform: uppercase;
        letter-spacing: 3px; }
      .site-wrapper .container #sanchezProxima p {
        font-family: 'proximanova';
        font-size: 20px;
        line-height: 1.5;
        font-weight: 100; }
        @media (max-width: 600px) {
          .site-wrapper .container #sanchezProxima p {
            font-size: 18px; } }
    @media (max-width: 900px) {
      .site-wrapper .container #proximaSourceSans {
        width: 80%;
        margin: 70px auto; } }
    .site-wrapper .container #proximaSourceSans h2 {
      font-family: 'proximanova';
      font-size: 50px; }
    .site-wrapper .container #proximaSourceSans p {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 20px;
      line-height: 1.5;
      font-weight: 100; }
      @media (max-width: 600px) {
        .site-wrapper .container #proximaSourceSans p {
          font-size: 18px; } }
      .site-wrapper .container #proximaSourceSans p a {
        font-weight: 300; }
    .site-wrapper .container #harrietAlright {
      width: 750px;
      margin-top: 70px;
      margin-left: 100px; }
      @media (max-width: 900px) {
        .site-wrapper .container #harrietAlright {
          width: 80%;
          margin: 70px auto; } }
      .site-wrapper .container #harrietAlright h2 {
        font-family: 'harriet_displaybold';
        font-size: 50px; }
      .site-wrapper .container #harrietAlright p {
        font-family: 'alright_sanslight';
        font-size: 20px;
        line-height: 1.5;
        font-weight: 100; }
        @media (max-width: 600px) {
          .site-wrapper .container #harrietAlright p {
            font-size: 18px; } }
        .site-wrapper .container #harrietAlright p a {
          font-weight: 300; }
    .site-wrapper .container #salomeOxygen {
      text-align: center;
      color: #fff; }
      @media (max-width: 900px) {
        .site-wrapper .container #salomeOxygen {
          width: 80%;
          margin: 70px auto; } }
      .site-wrapper .container #salomeOxygen a {
        color: #fff; }
      .site-wrapper .container #salomeOxygen h2 {
        font-family: 'salomeregular';
        font-size: 70px; }
      .site-wrapper .container #salomeOxygen p {
        font-family: 'Oxygen', sans-serif;
        font-size: 20px;
        line-height: 2;
        font-weight: 100; }
        @media (max-width: 600px) {
          .site-wrapper .container #salomeOxygen p {
            font-size: 16px;
            line-height: 1.5; } }
        .site-wrapper .container #salomeOxygen p a {
          font-weight: 300; }
    .site-wrapper .container #butlerAvenir {
      width: 800px;
      text-align: right;
      margin-right: 100px; }
      @media (max-width: 900px) {
        .site-wrapper .container #butlerAvenir {
          width: 80%;
          margin: 70px auto; } }
      .site-wrapper .container #butlerAvenir h2 {
        font-family: 'butlerbold';
        font-size: 70px; }
        @media (max-width: 600px) {
          .site-wrapper .container #butlerAvenir h2 {
            line-height: 1; } }
      .site-wrapper .container #butlerAvenir p {
        font-family: 'AvenirLTStd-Book';
        font-size: 20px;
        line-height: 1.5;
        font-weight: 100; }
        @media (max-width: 600px) {
          .site-wrapper .container #butlerAvenir p {
            font-size: 18px; } }
        .site-wrapper .container #butlerAvenir p a {
          font-weight: 300; }
    .site-wrapper .container #moonLora {
      text-align: center;
      color: #fff; }
      @media (max-width: 900px) {
        .site-wrapper .container #moonLora {
          width: 80%;
          margin: 70px auto; } }
      .site-wrapper .container #moonLora a {
        color: #fff; }
      .site-wrapper .container #moonLora h2 {
        font-family: 'moonlight';
        font-size: 70px; }
        @media (max-width: 600px) {
          .site-wrapper .container #moonLora h2 {
            font-size: 40px; } }
      .site-wrapper .container #moonLora p {
        font-family: 'Lora', serif;
        font-size: 18px;
        line-height: 2;
        font-weight: 100; }
        @media (max-width: 600px) {
          .site-wrapper .container #moonLora p {
            font-size: 16px; } }
        .site-wrapper .container #moonLora p a {
          font-weight: 300; }
    .site-wrapper .container #unnaAzo {
      width: 800px;
      margin-top: 30px;
      margin-left: 100px; }
      @media (max-width: 900px) {
        .site-wrapper .container #unnaAzo {
          width: 80%;
          margin: 70px auto; } }
      .site-wrapper .container #unnaAzo h2 {
        font-family: 'unnabold';
        font-size: 70px; }
        @media (max-width: 600px) {
          .site-wrapper .container #unnaAzo h2 {
            font-size: 50px; } }
      .site-wrapper .container #unnaAzo p {
        font-family: 'azo_sanslight';
        font-size: 18px;
        line-height: 2;
        margin-left: 100px; }
        @media (max-width: 600px) {
          .site-wrapper .container #unnaAzo p {
            font-size: 16px;
            margin-left: 0; } }
        .site-wrapper .container #unnaAzo p a {
          font-weight: 300; }
    .site-wrapper .container #aleoLato {
      color: #fff; }
      @media (max-width: 900px) {
        .site-wrapper .container #aleoLato {
          width: 80%;
          margin: 70px auto; } }
      .site-wrapper .container #aleoLato a {
        color: #fff; }
      .site-wrapper .container #aleoLato h2 {
        font-family: 'aleoregular';
        font-size: 60px; }
        @media (max-width: 600px) {
          .site-wrapper .container #aleoLato h2 {
            font-size: 40px; } }
      .site-wrapper .container #aleoLato p {
        font-family: 'Lato', sans-serif;
        font-size: 18px;
        line-height: 2;
        font-weight: 100; }
        @media (max-width: 600px) {
          .site-wrapper .container #aleoLato p {
            line-height: 1.5; } }
        .site-wrapper .container #aleoLato p a {
          font-weight: 300; }
    .site-wrapper .container #quartoIdeal {
      margin-left: 100px; }
      @media (max-width: 900px) {
        .site-wrapper .container #quartoIdeal {
          width: 80%;
          margin: 70px auto; } }
      .site-wrapper .container #quartoIdeal h2 {
        font-family: 'quartobold';
        font-size: 60px;
        letter-spacing: 3px; }
        @media (max-width: 600px) {
          .site-wrapper .container #quartoIdeal h2 {
            font-size: 50px;
            letter-spacing: 1px; } }
      .site-wrapper .container #quartoIdeal p {
        font-family: 'Ideal Sans Book';
        font-size: 18px;
        line-height: 2;
        font-weight: 100; }
        @media (max-width: 600px) {
          .site-wrapper .container #quartoIdeal p {
            line-height: 1.5; } }
        .site-wrapper .container #quartoIdeal p a {
          font-weight: 300; }
    .site-wrapper .container #freightSansText {
      text-align: center; }
      @media (max-width: 900px) {
        .site-wrapper .container #freightSansText {
          width: 80%;
          margin: 70px auto; } }
      .site-wrapper .container #freightSansText h2 {
        font-family: 'freightsansmedium';
        font-size: 60px; }
        @media (max-width: 600px) {
          .site-wrapper .container #freightSansText h2 {
            font-size: 40px; } }
      .site-wrapper .container #freightSansText p {
        font-family: 'freighttextbook';
        font-size: 18px;
        line-height: 2;
        font-weight: 100;
        letter-spacing: 0.3px; }
        @media (max-width: 600px) {
          .site-wrapper .container #freightSansText p {
            line-height: 1.5; } }
        .site-wrapper .container #freightSansText p a {
          font-weight: 300; }
    .site-wrapper .container #freightBigSans {
      width: 400px;
      margin-top: 50px;
      margin-right: 100px;
      text-align: right;
      color: #fff; }
      @media (max-width: 900px) {
        .site-wrapper .container #freightBigSans {
          width: 80%;
          margin: 70px auto; } }
      .site-wrapper .container #freightBigSans a {
        color: #fff; }
      .site-wrapper .container #freightBigSans h2 {
        font-family: 'freightbigboldregular';
        font-size: 60px; }
        @media (max-width: 600px) {
          .site-wrapper .container #freightBigSans h2 {
            font-size: 50px; } }
      .site-wrapper .container #freightBigSans p {
        font-family: 'freightsanslight';
        font-size: 18px;
        line-height: 1.5;
        font-weight: 100;
        letter-spacing: 0.5px; }
        @media (max-width: 600px) {
          .site-wrapper .container #freightBigSans p {
            font-size: 16px; } }
        .site-wrapper .container #freightBigSans p a {
          font-weight: 300; }
    @media (max-width: 900px) {
      .site-wrapper .container #keplerWhitney {
        width: 80%;
        margin: 70px auto; } }
    .site-wrapper .container #keplerWhitney h2 {
      font-family: 'Kepler Std';
      font-size: 60px; }
    .site-wrapper .container #keplerWhitney p {
      font-family: 'Whitney';
      font-size: 20px;
      line-height: 1.5;
      font-weight: 100; }
      @media (max-width: 600px) {
        .site-wrapper .container #keplerWhitney p {
          font-size: 18px; } }
      .site-wrapper .container #keplerWhitney p a {
        font-weight: 300; }
    .site-wrapper .container #utopiaSourceSans {
      width: 700px;
      text-align: center; }
      @media (max-width: 900px) {
        .site-wrapper .container #utopiaSourceSans {
          width: 80%;
          margin: 70px auto; } }
      .site-wrapper .container #utopiaSourceSans h2 {
        font-family: 'Utopia Std';
        font-size: 60px; }
        @media (max-width: 600px) {
          .site-wrapper .container #utopiaSourceSans h2 {
            font-size: 40px; } }
      .site-wrapper .container #utopiaSourceSans a {
        color: #fff; }
      .site-wrapper .container #utopiaSourceSans p {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 20px;
        line-height: 1.5;
        font-weight: 100;
        letter-spacing: 0.3px; }
        @media (max-width: 600px) {
          .site-wrapper .container #utopiaSourceSans p {
            line-height: 1.5; } }
        .site-wrapper .container #utopiaSourceSans p a {
          font-weight: 300; }

/*# sourceMappingURL=styles.css.map */
