@import 'bourbon/bourbon';
@import 'partials/mixins';
@import 'partials/variables';
@import 'partials/fonts';
@import 'partials/base';
@import 'partials/dotNav';
@import 'partials/mobileMenu';
@import 'partials/blockBtn';
@import 'partials/intro';
@import 'partials/about';
@import 'partials/services';
@import 'partials/skills';
@import 'partials/experience';
@import 'partials/portfolio';
@import 'partials/contact';
@import 'partials/footer';
@import 'partials/404';

